<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LogSystem</display-name>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <init-param>
      <param-name>cors.allowGenericHttpRequests</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowSubdomains</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, HEAD, POST, OPTIONS</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedHeaders</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposedHeaders</param-name>
      <param-value>X-Test-1, X-Test-2</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.maxAge</param-name>
      <param-value>-1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.hl.controller.user.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.hl.controller.user.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyStatus1Controller</display-name>
    <servlet-name>modifyStatus1Controller</servlet-name>
    <servlet-class>com.hl.controller.user.modifyStatus1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStatus1Controller</servlet-name>
    <url-pattern>/modifystatus1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserController</display-name>
    <servlet-name>deleteUserController</servlet-name>
    <servlet-class>com.hl.controller.user.deleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserController</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyUserController</display-name>
    <servlet-name>modifyUserController</servlet-name>
    <servlet-class>com.hl.controller.user.modifyUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyUserController</servlet-name>
    <url-pattern>/modifyuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllUserController</display-name>
    <servlet-name>findAllUserController</servlet-name>
    <servlet-class>com.hl.controller.user.findAllUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllUserController</servlet-name>
    <url-pattern>/findalluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addLogController</display-name>
    <servlet-name>addLogController</servlet-name>
    <servlet-class>com.hl.controller.log.addLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addLogController</servlet-name>
    <url-pattern>/addlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyLogStatusController</display-name>
    <servlet-name>modifyLogStatusController</servlet-name>
    <servlet-class>com.hl.controller.log.modifyLogStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyLogStatusController</servlet-name>
    <url-pattern>/modifylogstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findLogByNameController</display-name>
    <servlet-name>findLogByNameController</servlet-name>
    <servlet-class>com.hl.controller.log.findLogByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findLogByNameController</servlet-name>
    <url-pattern>/findlogbyname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserStatus0Controller</display-name>
    <servlet-name>findUserStatus0Controller</servlet-name>
    <servlet-class>com.hl.controller.user.findUserStatus0Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserStatus0Controller</servlet-name>
    <url-pattern>/finduserstatus0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findLogByStatusController</display-name>
    <servlet-name>findLogByStatusController</servlet-name>
    <servlet-class>com.hl.controller.log.findLogByStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findLogByStatusController</servlet-name>
    <url-pattern>/findlogbystatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findLogByIdController</display-name>
    <servlet-name>findLogByIdController</servlet-name>
    <servlet-class>com.hl.controller.log.findLogByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findLogByIdController</servlet-name>
    <url-pattern>/findlogbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSignController</display-name>
    <servlet-name>addSignController</servlet-name>
    <servlet-class>com.hl.controller.sign.addSignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSignController</servlet-name>
    <url-pattern>/addsign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findSignByNameController</display-name>
    <servlet-name>findSignByNameController</servlet-name>
    <servlet-class>com.hl.controller.sign.findSignByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findSignByNameController</servlet-name>
    <url-pattern>/findsignbyname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteSignByNameController</display-name>
    <servlet-name>deleteSignByNameController</servlet-name>
    <servlet-class>com.hl.controller.sign.deleteSignByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSignByNameController</servlet-name>
    <url-pattern>/deletesignbyname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCommentController</display-name>
    <servlet-name>addCommentController</servlet-name>
    <servlet-class>com.hl.controller.comment.addCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCommentController</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findCommentByLogIDController</display-name>
    <servlet-name>findCommentByLogIDController</servlet-name>
    <servlet-class>com.hl.controller.comment.findCommentByLogIDController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findCommentByLogIDController</servlet-name>
    <url-pattern>/findcommentbylogid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewsController</display-name>
    <servlet-name>addNewsController</servlet-name>
    <servlet-class>com.hl.controller.news.addNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewsController</servlet-name>
    <url-pattern>/addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllNewsController</display-name>
    <servlet-name>findAllNewsController</servlet-name>
    <servlet-class>com.hl.controller.news.findAllNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllNewsController</servlet-name>
    <url-pattern>/findallnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findNewsByIdController</display-name>
    <servlet-name>findNewsByIdController</servlet-name>
    <servlet-class>com.hl.controller.news.findNewsByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findNewsByIdController</servlet-name>
    <url-pattern>/findnewsbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNewsByIdController</display-name>
    <servlet-name>deleteNewsByIdController</servlet-name>
    <servlet-class>com.hl.controller.news.deleteNewsByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNewsByIdController</servlet-name>
    <url-pattern>/deletenewsbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllDepartmentController</display-name>
    <servlet-name>findAllDepartmentController</servlet-name>
    <servlet-class>com.hl.controller.department.findAllDepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllDepartmentController</servlet-name>
    <url-pattern>/findalldepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDeapartmentController</display-name>
    <servlet-name>addDeapartmentController</servlet-name>
    <servlet-class>com.hl.controller.department.addDeapartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDeapartmentController</servlet-name>
    <url-pattern>/adddepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyDepartmentController</display-name>
    <servlet-name>modifyDepartmentController</servlet-name>
    <servlet-class>com.hl.controller.department.modifyDepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyDepartmentController</servlet-name>
    <url-pattern>/modifydepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDepartmentController</display-name>
    <servlet-name>deleteDepartmentController</servlet-name>
    <servlet-class>com.hl.controller.department.deleteDepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDepartmentController</servlet-name>
    <url-pattern>/deletedepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unameExistController</display-name>
    <servlet-name>unameExistController</servlet-name>
    <servlet-class>com.hl.controller.user.unameExistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unameExistController</servlet-name>
    <url-pattern>/unameexist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserByNameController</display-name>
    <servlet-name>findUserByNameController</servlet-name>
    <servlet-class>com.hl.controller.user.findUserByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserByNameController</servlet-name>
    <url-pattern>/finduserbyname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>judgeSignController</display-name>
    <servlet-name>judgeSignController</servlet-name>
    <servlet-class>com.hl.controller.sign.judgeSignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>judgeSignController</servlet-name>
    <url-pattern>/judgesign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportLogController</display-name>
    <servlet-name>exportLogController</servlet-name>
    <servlet-class>com.hl.controller.log.exportLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportLogController</servlet-name>
    <url-pattern>/exportlog</url-pattern>
  </servlet-mapping>
</web-app>